NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=

STRIPE_SECRET_KEY=<stripe_test_secret_key>
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=<stripe_test_publishable_key>
STRIPE_WEBHOOK_SECRET=<stripe_webhook_signing_secret>
STRIPE_PRICE_PREMIUM_MONTHLY=price_1ThP2u7IHas0TlLoSP7XvGo2
STRIPE_PRICE_PREMIUM_YEARLY=price_1ThP3s7IHas0TlLoKX2trWAF
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_TRIAL=false
